<section>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://www.kenobi.com.br/clientes/mario/">Bolsas Autoescolas</a>
        </div>
    </nav>
    <div class="txt-apresentacao">
        <div class="container">
            <h1>Você já realizou seus Exames Clínicos e Psicotécnicos? Se ainda não, aproveite,<strong>selecione uma
                clínica e faça a sua reserva!</strong></h1>
        </div>
    </div>
    <div class="container area-clinica">
        <div class="titulo subtitulo">
            <h2>Selecione uma clínica próxima a você.</h2>
        </div>
        <% @clinical.each do |c|  %>
          <%= link_to driving_school_index_path(:license => params[:license],
            :lat => params[:lat], :long => params[:long], :clinical => c.id) do %>
            <div class="clinical">
              <div class="row">
                <div class="col-9 col-sm-10 col-md-9 col-lg-11">
                  <p><span class="nome"><%= c.name %></span></p>
                  <p><span class="endereco"><i class="fas fa-map-marker-alt"></i> CLS 402, Bloco D, Lojas 1 A 4, Asa Sul, Brasília, DF</span>
                  </p>
                  <p><span class="horario"><%= c.open %></span></p>
                  <p><span class="dias"><%= c.close %></span></p>
                  <p><span class="telefone">Telefone: <%= c.phone %></span></p>
                  <div class="tags lc">
                    <% c.tag_list.to_a.each do |t| %>
                      <span><%= t %></span>
                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>


    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo-rdp">
                  <%= image_tag("logo2.png") %>
                </div>
                <ul class="social">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Sobre Nós</h3>
                <ul>
                    <li><a href="">Bolsas AutoEscolas</a></li>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="">Termo de uso</a></li>
                    <li><a href="">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Acesso AutoEscolas</h3>
                <ul>
                    <li><a href="" class="btn-rdp">Acessar plataforma</a></li>
                    <li><a href="">Seja uma autoescola parceira</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
