  <%= form_for(@user, url: registration_save_user_path) do |f| %>
    <div class="form-group">
        <label for="nome">Nome</label>
        <%= f.text_field :name, :class => "form-control", :id => "nome", :placeholder => "Insira seu nome", :required => true %>
    </div>
    <div class="form-group">
        <label for="sobrenome">Sobrenome</label>
        <%= f.text_field :last_name, :class => "form-control", :id => "sobrenome", :placeholder => "Insira seu sobrenome", :required => true %>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <%= f.text_field :email, :class => "form-control", :id => "email", :placeholder => "Insira seu email", :required => true %>
    </div>
    <div class="form-group">
        <label for="telefone">Telefone (WhatsApp)</label>
        <%= f.text_field :phone, :class => "form-control", :id => "telefone", :placeholder => "Insira seu Telefone", :required => true %>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <%= f.password_field :password, :class => "form-control", :id => "password", :placeholder => "Insira sua Senha", :required => true %>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="autorizacao" required>
        <label class="form-check-label" for="autorizacao">Autorizo que um atendente entre em
            contato comigo por meio dos dados informados acima</label>
    </div>

    <%= f.hidden_field :driving_school_id, value: @driving_school[0]["id"] %>
    <%= f.hidden_field :clinical_id, value: @clinical[0]["id"] %>
    <%= f.hidden_field :license_id, value: @license[0]["id"] %>
    <%= f.hidden_field :city_id, value: @city[0]["id"] %>

    <%= f.submit "Obter Desconto", :class => "btn" %>

<% end %>
