<section>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://www.kenobi.com.br/clientes/mario/">Bolsas Autoescolas</a>
        </div>
    </nav>
    <div class="txt-apresentacao">
        <div class="container">
            <h1><strong>Inscreva-se e garanta o seu desconto</strong> agora mesmo!</h1>
        </div>
    </div>
    <div class="container">
        <div class="area-detalhes">
            <h4>Detalhes da oferta</h4>
            <div class="box">
                <div class="row">
                    <div class="col-md-8">
                        <div class="resumo">
                            <div class="linha categoria">
                                <span>1ª Habilitação de Moto</span> - <span class="categoria">Categoria <%= params["license"]%></span>
                            </div>
                            <div class="linha convenio">
                                <span>Bolsas Autoescolas</span>
                            </div>
                            <div class="linha local">
                                <i class="fas fa-map-marker-alt"></i>
                                <span><%= @driving_school[0]["address"]  %><%= @state[0]["name"] %> - <%= @city[0]["name"]  %></span>
                            </div>
                            <div class="linha horario">
                                <i class="far fa-clock"></i>
                                <span><%= @driving_school[0]["open"] %></span>
                            </div>
                            <div class="linha dias">
                                <i class="far fa-calendar-times"></i>
                                <span><%= @driving_school[0]["close"] %></span>
                            </div>
                            <div class="linha desconto">
                                <span>20%</span> <span>de desconto</span>
                            </div>
                            <div class="linha de">
                                <span>De R$</span> <span><%= @driving_school[0]["price"] %></span>
                            </div>
                            <div class="linha por">
                                <span>Por R$</span> <span><%= @driving_school[0]["discount"]  %></span>
                            </div>
                            <div class="linha parcelas">
                                <span>Em até</span> <span>4x</span> <span>sem juros</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="linha local-mapa"><%= @state[0]["name"] %> - <%= @city[0]["name"]  %></div>
                        <div class="linha endereco-mapa"><%= @driving_school[0]["address"] %></div>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1919.4040765617617!2d-47.88674410137648!3d-15.814066710644262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ad403c5c3e7%3A0x7bd7324a072f68ce!2sEscola+SEB+D%C3%ADnatos!5e0!3m2!1spt-BR!2sbr!4v1526673596896"
                                    width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Detalhes da oferta</h4>
            <div class="box info-processo">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-tabela">
                        <div class="linha titulo">Primeira habilitação</div>
                        <div class="linha">1º Passo Exames clínicos e psicotécnicos</div>
                        <div class="linha">2º Passo Curso teórico e prova teórica</div>
                        <div class="linha">3º Passo Curso prático e prova prática</div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-tabela">
                        <div class="linha titulo">Adição de categoria</div>
                        <div class="linha">1º Passo Exames clínicos e psicotécnicos</div>
                        <div class="linha">2º Passo Curso teórico e prova teórica</div>
                        <div class="linha">3º Passo Curso prático e prova prática</div>
                    </div>
                </div>
            </div>
            <div class="mais-detalhes">
                <div class="linha incluso">
                    <h4>O que está incluso na oferta</h4>
                    <ul>
                        <li><i class="fas fa-check"></i> <span>Aulas Práticas</span></li>
                        <li><i class="fas fa-check"></i> <span>Aulas Teóricas</span></li>
                    </ul>
                </div>
                <div class="linha observacoes">
                    <h4>Observações</h4>
                    <ul>
                        <li><i class="fas fa-info"></i> <span>Oferta exclusiva Bolsas Autoescolas</span></li>
                        <li><i class="fas fa-info"></i> <span>Proposta válida até 01/06/2018</span></li>
                    </ul>
                </div>
                <div class="linha">
                    <h4>Cadastre suas informações</h4>
                    <div class="row">
                        <div class="col sm-12 col-md-4">
                          <%= render "form" %>
                          <!-- Modal -->
                          <!-- <div class="modal fade" id="modal" tabindex="-1" role="dialog"
                               aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Enviamos um SMS para você</h5>
                                          <button type="button" class="close" data-dismiss="modal"
                                                  aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <input type="text" class="form-control" id="sms" aria-describedby=""
                                                 placeholder="Insira o código aqui">
                                          <button type="button" class="btn">Enviar</button>
                                          <a href="" class="reenviar-sms">Não recebeu? Verifique seu telefone e clique para reenviar o código</a>
                                      </div>
                                  </div>
                              </div>
                          </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo-rdp">
                  <%= image_tag("logo2.png") %>
                    <!-- <img src="../resource/img/logo2.png" alt="Bolsas Autoescolas"> -->
                </div>
                <ul class="social">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Sobre Nós</h3>
                <ul>
                    <li><a href="">Bolsas AutoEscolas</a></li>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="">Termo de uso</a></li>
                    <li><a href="">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Acesso AutoEscolas</h3>
                <ul>
                    <li><a href="" class="btn-rdp">Acessar plataforma</a></li>
                    <li><a href="">Seja uma autoescola parceira</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
