<section>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://www.kenobi.com.br/clientes/mario/">Bolsas Autoescolas</a>
        </div>
    </nav>
    <div class="txt-apresentacao">
        <div class="container">
            <h1><strong>Encontre o melhor preço e desconto</strong> próximo a você!</h1>
        </div>
    </div>
    <div class="container">
        <div class="area-resultado">
            <div class="row">
                <div class="col-md-3 filtro-desktop">
                    <div class="filtro">
                        <div class="lf">
                            <h3>Filtros</h3>
                        </div>
                        <div class="lf">
                            <h4>Localização</h4>
                            <% @driving_school.each do |d| %>
                              <span> <%= d.city.name %></span>
                              <% break %>
                            <% end %>
                        </div>
                        <div class="lf">
                            <h4>KM de distância</h4>
                            <ul>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="5km">
                                        <label class="form-check-label" for="5km">
                                            Até 5 km
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="10km">
                                        <label class="form-check-label" for="10km">
                                            Até 10 km
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="20km">
                                        <label class="form-check-label" for="20km">
                                            Até 20 km
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="lf last">
                            <h4>Curso</h4>
                            <ul>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="oCatA" onchange="typeAadd()">
                                        <label class="form-check-label" for="oCatA">
                                            Obtenção Categoria A
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="oCatB">
                                        <label class="form-check-label" for="oCatB">
                                            Obtenção Categoria B
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="oCatAB">
                                        <label class="form-check-label" for="oCatAB">
                                            Obtenção Categoria AB
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="iCatA">
                                        <label class="form-check-label" for="iCatA">
                                            Adição Categoria A
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="iCatB">
                                        <label class="form-check-label" for="iCatB">
                                            Adição Categoria B
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="iCatAB">
                                        <label class="form-check-label" for="iCatAB">
                                            Adição Categoria AB
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn" value="clear" onclick="clean()">Limpar filtros</button>
                    </div>
                </div>

                <!-- Modal Filtro Mobile-->

                <div class="modal fade" id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="modalFiltroLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                       <div class="filtro">
                        <div class="lf">
                            <h3>Filtros</h3>
                        </div>
                        <div class="lf">
                            <h4>Localização</h4>
                            <% @driving_school.each do |d| %>
                             <span> <%= d.city.name %></span>
                            <% end %>
                        </div>
                        <div class="lf">
                            <h4>KM de distância</h4>
                            <ul>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="5km">
                                        <label class="form-check-label" for="5km">
                                            Até 5 km
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="10km">
                                        <label class="form-check-label" for="10km">
                                            Até 10 km
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="20km">
                                        <label class="form-check-label" for="20km">
                                            Até 20 km
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="lf last">
                            <h4>Curso</h4>
                            <ul>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="oCatA">
                                        <label class="form-check-label" for="oCatA">
                                            Obtenção Categoria A
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="oCatB">
                                        <label class="form-check-label" for="oCatB">
                                            Obtenção Categoria B
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="oCatAB">
                                        <label class="form-check-label" for="oCatAB">
                                            Obtenção Categoria AB
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="iCatA">
                                        <label class="form-check-label" for="iCatA">
                                            Adição Categoria A
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="iCatB">
                                        <label class="form-check-label" for="iCatB">
                                            Adição Categoria B
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="iCatAB">
                                        <label class="form-check-label" for="iCatAB">
                                            Adição Categoria AB
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn" value="clear">Limpar filtros</button>
                    </div>

                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-lg-9" id="allProdutos">
                    <button type="button" class="btn btn-filtro-mobile" data-toggle="modal" data-target="#modalFiltro">
                      Busca avançada
                    </button>
                    <% @driving_school.each_with_index  do |d, i| %>
                      <div class="produto"
                      data-license-a-add="<%= if  d.license.name == 'A' then 'true' else 'false' end %>"
                      data-license-b-add="<%= if  d.license.name == 'B' then 'true' else 'false' end %>"
                      data-license-ab-add="<%= if  d.license.name == 'C' then 'true' else 'false'  end %>"
                      data-license-a-obt="<%= if  d.license.name == 'D' then 'true' else 'false' end %>"
                      data-license-b-obt="<%= if  d.license.name == 'E' then 'true' else 'false'  end %>"
                      data-license-ab-obt="<%= if  d.license.name == 'AB' then 'true' else 'false' end %>"
                      data-city="<%= d.city.name  %>"
                      >
                      <%= link_to registration_index_path(
                        :license => params[:license],
                        :lat => params[:lat],
                        :long => params[:long],
                        :clinical => params[:clinical],
                        :driving_school => d.id
                        ) do %>
                          <div class="row">
                              <div class="col-12 col-md-3 col-lg-2 traco">
                                  <div class="logo-escola">
                                    <%= image_tag("logos/litoral.png") %>
                                  </div>
                                  <div class="nome-escola">
                                      <span><%= d.name %></span>
                                  </div>
                              </div>
                              <div class="col-12 col-md-4 col-lg-6 traco">
                                  <div class="area-cat">
                                      <div class="nm-cat lc">
                                          <h2><%= d.name %></h2>
                                      </div>
                                      <div class="end-esc lc">
                                          <i class="fas fa-map-marker-alt"></i> <span><%= d.city.name %> / <%= d.city.state.name  %></span>
                                      </div>
                                      <div class="tags lc">
                                        <% d.tag_list.to_a.each do |t| %>
                                          <span><%= t %></span>
                                        <% end %>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-5 col-lg-4">
                                  <div class="resumo-valor">
                                      <p>Mensalidades</p>
                                      <p>a partir de <span>R$ <%= d.price %></span></p>
                                      <p class="valor">Por R$<%= d.discount %></p>
                                      <p class="parcela">em até 4x sem juros</p>
                                      <button type="button" class="btn">Ver mais detalhes</button>
                                  </div>
                              </div>
                          </div>
                          <div class="porcentagem-desconto">
                              <p>Bolsa</p>
                              <p><span>50%</span></p>
                          </div>
                        <% end %>
                      </div>

                          <% if i == 6 %>
                            <div class="cta">
                              <div class="row">
                                  <div class="col-md-8">
                                      <div class="icone">
                                          <i class="fas fa-phone"></i>
                                      </div>
                                      <div class="texto">
                                          <p>Dúvidas? Fale com um consultor:</p>
                                          <p><span>0800 001 5875</span> ou te ligamos</p>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <button type="button" class="btn">Deixe seu contato</button>
                                  </div>
                              </div>
                          </div>
                          <% end %>
                      <% end %>
                  </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo-rdp">
                  <%= image_tag("logo2.png") %>
                </div>
                <ul class="social">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Sobre Nós</h3>
                <ul>
                    <li><a href="">Bolsas AutoEscolas</a></li>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="">Termo de uso</a></li>
                    <li><a href="">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Acesso AutoEscolas</h3>
                <ul>
                    <li><a href="" class="btn-rdp">Acessar plataforma</a></li>
                    <li><a href="">Seja uma autoescola parceira</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
