<section>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://www.kenobi.com.br/clientes/mario/">Bolsas Autoescolas</a>
        </div>
    </nav>
    <div class="txt-apresentacao">
        <div class="container">
            <h1>Encontre os <strong>menores preços em cursos de habilitação</strong> próximos a você!</h1>
        </div>
    </div>
    <div class="container">
        <div class="categorias">
            <div class="titulo subtitulo">
                <h2>Clique para selecionar sua habilitação de interesse.</h2>
            </div>
            <div class="area-box-categoria">
                <div class="box-categoria">
                  <%= link_to location_index_path do %>
                        <div class="tipo">
                            <p><i class="fas fa-motorcycle"></i></p>
                            <p>Primeira<br>habilitação</p>
                            <p>Moto</p>
                        </div>
                    <% end %>
                </div>
                <div class="box-categoria">
                    <%= link_to location_index_path do %>
                      <div class="tipo">
                        <p><i class="fas fa-car"></i></p>
                        <p>Primeira<br>habilitação</p>
                        <p>Carro</p>
                      </div>
                    <% end %>
                </div>
                <div class="box-categoria">
                    <%= link_to location_index_path(:license => 'AB') do %>
                        <div class="tipo">
                            <p><i class="fas fa-truck"></i></p>
                            <p>Primeira<br>habilitação</p>
                            <p>Moto + Carro</p>
                        </div>
                    <% end %>
                </div>
                <div class="box-categoria">
                    <%= link_to location_index_path(:license => 'A') do %>
                        <div class="tipo">
                          <p><i class="fas fa-bus"></i></p>
                          <p>Adicionar<br>categoria</p>
                          <p>A (moto)</p>
                        </div>
                    <% end %>
                </div>
                <div class="box-categoria">
                    <%= link_to location_index_path(:license => 'B') do %>
                        <div class="tipo">
                            <p><i class="fas fa-truck-moving"></i></p>
                            <p>Adicionar<br>categoria</p>
                            <p>B (Carro)</p>
                        </div>
                    <% end %>
                </div>
                <div class="box-categoria">
                    <%= link_to location_index_path(:license => 'C') do %>
                        <div class="tipo">
                            <p><i class="fas fa-motorcycle"></i></p>
                            <p>Adicionar<br>categoria</p>
                            <p>C (Caminhão)</p>
                        </div>
                    <% end %>
                </div>
                <div class="box-categoria">
                    <%= link_to location_index_path(:license => 'D') do %>
                        <div class="tipo">
                            <p><i class="fas fa-motorcycle"></i></p>
                            <p>Adicionar<br>categoria</p>
                            <p>D (Ônibus)</p>
                        </div>
                    <% end %>
                </div>
                <div class="box-categoria">
                    <%= link_to location_index_path(:license => 'E') do %>
                        <div class="tipo">
                            <p><i class="fas fa-motorcycle"></i></p>
                            <p>Adicionar<br>categoria</p>
                            <p>E (Carreta)</p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="txt-info">
            <p>O Bolsas AutoEscolas é uma alternativa para você encontrar as <strong>melhores opções de preços e descontos em
                cursos de habilitação de moto e carro</strong> nas AutoEscolas mais próximas de você!</p>
        </div>
    </div>
    <div class="area-link-opcoes">
        <div class="container">
            <div class="link-opcoes">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="opcoes">
                            <span>Obter habilitação</span>
                            <ul>
                                <li><i class="fas fa-circle"></i> <a href="">Categoria A</a></li>
                                <li><i class="fas fa-circle"></i> <a href="">Categoria B</a></li>
                                <li><i class="fas fa-circle"></i> <a href="">Categoria AB</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="opcoes">
                            <span>Adicionar categoria</span>
                            <ul>
                                <li><a href=""><i class="fas fa-circle"></i> Categoria A</a></li>
                                <li><a href=""><i class="fas fa-circle"></i> Categoria B</a></li>
                                <li><a href=""><i class="fas fa-circle"></i> Categoria C</a></li>
                                <li><a href=""><i class="fas fa-circle"></i> Categoria D</a></li>
                                <li><a href=""><i class="fas fa-circle"></i> Categoria E</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo-rdp">
                  <%= image_tag("logo2.png") %>
                    <!-- <img src="resource/img/logo2.png" alt="Bolsas Autoescolas"> -->
                </div>
                <ul class="social">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Sobre Nós</h3>
                <ul>
                    <li><a href="">Bolsas AutoEscolas</a></li>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="">Termo de uso</a></li>
                    <li><a href="">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Acesso AutoEscolas</h3>
                <ul>
                    <li><a href="" class="btn-rdp">Acessar plataforma</a></li>
                    <li><a href="">Seja uma autoescola parceira</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
