<section>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://www.kenobi.com.br/clientes/mario/">Bolsas Autoescolas</a>
        </div>
    </nav>
    <div class="txt-apresentacao">
        <div class="container">
            <h1><strong>Digite seu bairro</strong> ou região de interesse!</h1>
        </div>
    </div>
    <div class="container">
        <div class="area-passos">
            <div class="row">
                <div class="col-4">
                    <div class="passos">
                       <span>1</span><p>Seleção da<br>
                       habilitação</p>
                   </div>
                </div>
                <div class="col-4">
                    <div class="passos">
                       <span>2</span><p>Seleção da<br>
                       localidade</p>
                   </div>
                </div>
                <div class="col-4">
                    <div class="passos">
                       <span>3</span><p>Seleção do<br>
                       melhor preço</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="area-busca">
          <div class="form-group">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite o seu bairro ou região de interesse.">
              <div id="map"></div>
          </div>
          <div class="powered">
              <p>Powered by</p>
              <%= link_to "Avançar", clinical_index_path(:license => params[:license],
                :lat => -23.2891421, :long => -47.7096492), :class => "btn-rdp" %>
          </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo-rdp">
                  <%= image_tag("logo2.png") %>
                    <!-- <img src="../resource/img/logo2.png" alt="Bolsas Autoescolas"> -->
                </div>
                <ul class="social">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Sobre Nós</h3>
                <ul>
                    <li><a href="">Bolsas AutoEscolas</a></li>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="">Termo de uso</a></li>
                    <li><a href="">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Acesso AutoEscolas</h3>
                <ul>
                    <li><a href="" class="btn-rdp">Acessar plataforma</a></li>
                    <li><a href="">Seja uma autoescola parceira</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbeE7qXOx1Y98FS1B9k8_4LHTc21rbEyg&callback=initMap"
  type="text/javascript"></script>
