@import "bootstrap";

/* GERAL
*****************************/

body, html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(102, 102, 102);
}

.btn {
    background-color: rgb(71, 33, 156);
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 16px 0 15px 0;
}

.btn:hover {
    background-color: rgb(52, 23, 115);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
    padding-left: 0;
}

.subtitulo h2 {
    font-weight: 300;
    margin-bottom: 30px;
}

.subtitulo h2 span {
    font-weight: 600;
}

/* HOME
*****************************/

nav {
    background-color: rgb(71, 33, 156);
}

nav .container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.navbar-brand {
    display: block;
    width: 196px;
    height: 80px;
    text-indent: -9999px;
    background-image: asset-url("logo.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.txt-apresentacao {
    background: rgb(71, 33, 156) asset-url("bg-topo.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    text-align: center;
    padding: 10px 0 142px 0;
    /*height: 288px;*/
    display: block;
}

.txt-apresentacao h1 {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: 37px;
    line-height: 50px;
    color: rgb(255, 255, 255);
}

.txt-apresentacao strong {
    color: rgb(255, 246, 164);
    font-weight: 700;
}

.area-box-categoria {
    overflow: auto;
}

.box-categoria {
    width: 12%;
    float: left;
    padding: 6px;
}

.categorias .titulo {
    text-align: center;
}

.categorias a {
    color: rgb(50, 50, 50);
}

.categorias a:hover {
    text-decoration: none;
}

.categorias {
    text-align: center;
}

.categorias .tipo {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 8px;
    padding: 12px 6px;
    transition: all 0.5s ease;
}

.categorias .tipo p i {
    font-size: 28px;
    color: rgb(67, 201, 243);
    transition: all 0.5s ease;
}

.categorias .tipo p:nth-child(1) {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 0 auto;
    line-height: 62px;
    margin-bottom: 16px;
    border-radius: 50px;
    border: 1px solid rgb(67, 201, 243);
    background-color: rgb(238, 251, 255);
}

.categorias .tipo p:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.categorias .tipo p:nth-child(3) {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    transition: all 0.5s ease;
}

.categorias .tipo:hover p:nth-child(1) {
    border: 1px solid rgb(71, 33, 156);
    background-color: rgb(255, 255, 255);
}

.categorias .tipo:hover {
    border: 1px solid rgb(71, 33, 156);
    background-color: rgb(71, 33, 156);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
}

.categorias .tipo:hover p {
    color: rgb(255, 255, 255);
}

.categorias .tipo:hover p i {
    color: rgb(71, 33, 156);
}

.txt-info {
    margin-top: 80px;
    padding: 80px 0;
    text-align: center;
    border-top: 4px solid rgb(255, 246, 164);
}

.txt-info p {
    font-size: 23px;
    font-weight: 300;
}

.txt-info p strong {
    font-weight: 600;
}

.area-link-opcoes {
    padding-bottom: 80px;
}

.area-link-opcoes .link-opcoes .opcoes {
    padding: 30px;
    border-radius: 8px;
    min-height: 330px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
}

.area-link-opcoes .link-opcoes .opcoes  span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(255, 246, 164);
}

.area-link-opcoes .link-opcoes .opcoes  ul li i {
    float: left;
    display: block;
    font-size: 8px;
    line-height: 38px;
    margin-right: 10px;
    color: rgb(210, 210, 210);
}

.area-link-opcoes .link-opcoes .opcoes  a {
    font-size: 16px;
    line-height: 38px;
    color: rgb(102, 102, 102);
}

.area-link-opcoes .link-opcoes .opcoes  a:hover {
    color: rgb(71, 33, 156);
}

/* BUSCA
*****************************/

.area-passos {
    width: 80%;
    margin: 0 auto;
}

.area-passos .passos {
    position: relative;
    overflow: auto;
}

.area-passos .passos span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(230, 230, 230);
    text-align: center;
    line-height: 46px;
    font-size: 22px;
    float: left;
    margin-right: 20px;
    color: rgb(153, 153, 153);
}

.area-passos .passos p {
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;
    color: rgb(153, 153, 153);
    display: block;
    margin-top: -7px;
}

.area-busca {
    text-align: center;
    padding: 50px 0 80px 0;
}

.area-busca input {
    width: 96%;
    height: 60px;
    margin: 0 auto;
}

.area-busca .powered {
    padding-right: 50px;
    width: 140px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    margin: 0 auto;
    background: url(assets/img/google.png) no-repeat;
    background-position: top right;
    background-size: 36px auto;
}

/* RESULTADO
*****************************/

.filtro {
    padding: 16px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
}

.filtro .lf {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 16px;
    margin-bottom: 16px
}

.filtro .last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 16px
}

.filtro h3 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
}

.filtro h4 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
}

.filtro span {
    font-size: 14px;
}

.filtro .form-check  {
    clear: both;
    overflow: auto;
}

.filtro .form-check input {
    display: block;
    float: left;
    margin: 8px 0 0 -20px;
}

.filtro .form-check label {
    font-size: 14px;
    line-height: 30px;
    display: block;
    float: left;
}

.filtro .btn {
    width: 100%;
}

.btn-filtro-mobile {
    display: none;
}

.produto {
    padding: 16px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    position: relative;
    margin-bottom: 20px;
    transition: box-shadow .25s linear;
    box-shadow: 0 2px 4px rgba(3,27,78,.06);
}
.produto a{
  text-decoration: none;
  color: rgb(120, 120, 120);

}
.produto:hover {
    box-shadow: 0 10px 20px rgba(3,27,78,.1);
}

.produto .traco {
    border-right: 1px solid rgb(230, 230, 230);
}

.produto .logo-escola {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.produto .logo-escola img {
    width: 100%;
    height: auto;
}

.produto .nome-escola {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: rgb(120, 120, 120);
}

.produto .area-cat,
.produto .resumo-valor {
    padding: 30px 20px;
}

.produto .nm-cat h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    color: rgb(71, 33, 156);
}

.produto .end-esc {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}

.tags span {
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 10px;
    background-color: rgb(241, 242, 246);
    margin-right: 8px;
    margin-top: 6px;
    display: inline-block;
}

.produto .resumo-valor p {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 4px;
}

.produto .resumo-valor p span {
    text-decoration: line-through;
}

.produto .resumo-valor .valor {
    font-size: 22px;
    margin: 10px 0 6px 0;
    font-weight: 600;
    color: rgb(71, 33, 156);
}

.produto .resumo-valor .parcela {
    font-size: 15px;
    margin: 6px 0 15px 0;
    font-weight: 600;
    color: rgb(71, 33, 156);
}

.produto .porcentagem-desconto {
    position: absolute;
    right: 10px;
    top: -1px;
    color: rgb(255, 255, 255);
    padding: 6px 0px 10px 0px;
    text-align: center;
    width: 52px;
    background: rgb(136, 196, 37) url(assets/img/seta-box-desconto.png);
    background-repeat: no-repeat;
    background-size: 100% 10px;
    background-position: center bottom;
}

.produto .porcentagem-desconto p {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
}

.produto .porcentagem-desconto span {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.cta {
    background: rgb(30, 64, 118);
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.cta .icone {
    float: left;
    font-size: 30px;
    margin-right: 20px;
}

.cta .texto {
    float: left;
}

.cta p {
    margin-bottom: 0;
}

.cta p span {
    font-weight: 700;
}

.cta .btn {
    margin: 0;
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}

/* DETALHES
*****************************/

.area-detalhes .box {
    padding: 30px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    position: relative;
    margin-bottom: 50px;
}

.area-detalhes .box .linha {
    margin-bottom: 5px;
}

.area-detalhes .box .categoria,
.area-detalhes .box .desconto,
.area-detalhes .box .local-mapa {
    font-size: 20px;
    font-weight: 700;
}

.area-detalhes .box .convenio {
    font-size: 16px;
}

.area-detalhes .box .local,
.area-detalhes .box .dias {
    margin-bottom: 28px;
}

.area-detalhes .box .local,
.area-detalhes .box .parcelas,
.area-detalhes .box .endereco-mapa {
    font-size: 16px;
}

.area-detalhes > .info-processo {
    padding: 0;
    background: rgb(255, 255, 255);
}

.area-detalhes > .info-processo .col-tabela:nth-child(1) {
    padding-right: 0;
}

.area-detalhes > .info-processo .col-tabela:nth-child(2) {
    padding-left: 0;
}

.area-detalhes > .info-processo .col-tabela:nth-child(2) .linha {
    border-left: 1px solid rgb(230, 230, 230);
}

.area-detalhes > .info-processo .linha {
    padding: 10px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.area-detalhes > .info-processo .linha:last-child {
    border-bottom: 0;
}

    /*
    .area-detalhes > .info-processo .linha:nth-child(1),
    .area-detalhes > .info-processo .linha:nth-child(2),
    .area-detalhes > .info-processo .linha:nth-child(3){
        border-bottom: 1px solid rgb(230, 230, 230);
    }
    */

.area-detalhes > .info-processo .titulo {
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-top: 18px 18px 18px 18px;
    background: rgb(71, 33, 156);
}

.mais-detalhes .linha {
    margin-bottom: 40px;
}

.mais-detalhes ul li i {
    margin-right: 5px;
}

.mais-detalhes .incluso i {
    color: rgb(37, 166, 38);
}

.mais-detalhes .observacoes i {
    color: rgb(33, 161, 183);
}

.mais-detalhes ul li {
    font-size: 16px;
    line-height: 40px;
}

.mais-detalhes form {
    margin-top: 20px;
}

.mais-detalhes form label {
    font-size: 16px;
}

.mais-detalhes form input[type="text"],
.mais-detalhes form input[type="email"]{
    height: 50px;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

.mais-detalhes form .form-check label {
    font-size: 12px;
}

.reenviar-sms {
    font-size: 13px;
}

/* CLÃNICAS
*****************************/

.area-clinica h2 {
    text-align: center;
    margin-bottom: 50px;
}

.area-clinica .clinica {
    padding: 30px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    position: relative;
    margin-bottom: 20px;
    transition: box-shadow .25s linear;
    box-shadow: 0 2px 4px rgba(3,27,78,.06);
}

.area-clinica .clinica:hover {
    box-shadow: 0 10px 20px rgba(3,27,78,.1);
}

.area-clinica a {
    text-decoration: none;
    color: rgb(102, 102, 102);
}

.area-clinica .clinica p {
    margin-bottom: 0;
}

.area-clinica .clinica .nome {
    font-size: 36px;
}

/*.area-clinica .clinica .txt-realizado {
    line-height: 90px;
}*/

.area-clinica .clinica .endereco {
    font-size: 12px;
    clear: both;
}

.area-clinica .clinica .horario,
.area-clinica .clinica .dias {
    font-size: 12px;
}

.area-clinica .clinica .telefone {
    font-size: 15px;
    font-weight: 500;
}

.area-clinica .clinica .tags span {
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 10px;
    background-color: rgb(241, 242, 246);
    margin-right: 8px;
    margin-top: 6px;
    display: inline-block;
}

.area-clinica .clinica .icone {
    text-align: right;
    height: 100%;
    display: table;
    width: 100%;
}

.area-clinica .clinica .icone i {
    font-size: 60px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}


.area-clinica .clinica .escolher {
    color: rgb(234,131, 61);
}

.area-clinica .clinica .realizado {
    color: rgb(53, 183, 41);
}

/* RESUMO
*****************************/



.area-resumo .resumo {
    padding: 30px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    position: relative;
    margin-bottom: 50px;
}

.area-resumo .resumo .linha {
    margin-bottom: 5px;
}

.area-resumo .resumo .categoria,
.area-resumo .resumo .desconto,
.area-resumo .resumo .local-mapa {
    font-size: 20px;
    font-weight: 700;
}

.area-resumo .resumo .local,
.area-resumo .resumo .parcelas {
    font-size: 15px;
}

.area-resumo .resumo .local {
    margin-bottom: 40px;
}

.area-resumo .clinica,
.area-resumo .clinica:hover {
    box-shadow: none;
}

.area-resumo .btn {
    margin: 0 auto;
    margin-top: 50px;
}

.area-resumo .btn-blog {
    margin-top: 20px;
}

.area-resumo .resumo .nome-clinica {
    font-size: 20px;
    font-weight: 700;
}

.area-resumo .resumo .endereco-clinica {
    margin-bottom: 0;
}

.area-resumo .resumo .nome-usuario,
.area-resumo .resumo .email-usuario,
.area-resumo .resumo .telefone-usuario {
    margin-bottom: 0;
}

.area-resumo .resumo .incluso h4 {
    font-size: 20px;
    font-weight: 700;
}

.area-resumo .resumo .incluso i {
    color: rgb(37, 166, 38);
}

.area-resumo .resumo .obs {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
}

.area-resumo .res-clinica p {
    margin-bottom: 0;
}

/* FOOTER
*****************************/

footer {
    background: #f7f7f7;
    padding: 50px 0 40px 0;
    margin-top: 60px;
}

footer .social {
    margin-top: 34px;
    display: block;
    overflow: auto;
}

footer .social li {
    float: left;
    margin-right: 20px;
}

footer .social li a {
    font-size: 32px;
    color: rgb(204, 204, 204);
    transition: all 0.5s ease;
}

footer .social li a:hover {
    font-size: 32px;
    color: rgb(71, 33, 156);
    text-decoration: none;
}

footer h3 {
    font-size: 20px;
    color: rgb(71, 33, 156);
}

footer .lh a {
    line-height: 26px;
}


footer a {
    font-size: 16px;
    color: rgb(168, 168, 188);
}

footer a:hover {
    text-decoration: none;
    color: rgb(71, 33, 156);
}

footer .btn-rdp {
    background-color: rgb(71, 33, 156);
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 16px 0 15px 0;
}

footer .btn-rdp:hover {
    background-color: rgb(52, 23, 115);
    text-decoration: none;
    color: rgb(255, 255, 255);
}


@media only screen and (max-width : 1200px) {
    .categorias .tipo p:nth-child(3) {
        font-size: 10px;
    }
}

@media only screen and (max-width : 992px) {
    .box-categoria {
        width: 25%;
    }
    .categorias .tipo p:nth-child(3) {
        font-size: 16px;
    }
    .categorias .tipo {
        margin-bottom: 30px;
    }
    .txt-apresentacao h1 {
        width: 100%;
        font-size: 35px;
    }
    .area-passos .passos span {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin-right: 10px;
    }
    .area-passos .passos p {
        font-size: 14px;
        line-height: 21px;
        margin-top: 0px;
    }
    .btn-filtro-mobile {
        display: block;
        width: 100%;
    }
    .filtro-desktop {
        display: none;
    }

}

@media only screen and (max-width : 768px) {
    .categorias .tipo p:nth-child(3) {
        font-size: 14px;
    }
    .area-link-opcoes .link-opcoes .opcoes {
        min-height: auto;
        margin-bottom: 30px;
    }
    .txt-apresentacao {
        /*height: 250px;*/
    }
    .txt-apresentacao h1 {
        width: 100%;
        font-size: 24px;
        line-height: 46px;
    }
    .area-passos .passos {
        text-align: center;
        overflow: inherit;
    }
    .area-passos .passos span {
        float: none;
        margin: 0 auto;
        margin-bottom: 6px;
    }

    .area-detalhes > .info-processo .col-tabela:nth-child(1) {
        padding-right: 15px;
    }

    .area-detalhes > .info-processo .col-tabela:nth-child(2) {
        padding-left: 15px;
    }

    .area-clinica .clinica .icone i {
        font-size: 40px;
    }

    .area-clinica .clinica .txt-realizado {
        font-size: 26px;
    }
    .produto {
        text-align: center;
    }
    .produto .traco {
        border-right: 0;
    }
    .produto .nome-escola {
        font-size: 15px;
    }
    .produto .area-cat,
    .produto .resumo-valor {
        padding: 10px 20px;
    }
    .produto .nm-cat h2 {
        font-size: 22px;
    }
    .produto .end-esc {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .produto .resumo-valor p {
        font-size: 14px;
    }
    .produto .resumo-valor .valor {
        font-size: 28px;
        margin: 15px 0 14px 0;
    }
    .produto .resumo-valor .btn {
        margin: 0 auto;
    }
    .cta {
        text-align: center;
    }
    .cta .icone {
        display: none;
    }
    .cta .texto {
        float: none;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width : 480px) {
    .txt-apresentacao h1 {
        font-size: 21px;
        line-height: 34px;
    }
    .box-categoria {
        width: 33%;
    }
    .categorias .tipo {
        margin-bottom: 20px;
    }
    .categorias .tipo p:nth-child(3) {
        font-size: 8px;
    }
    .categorias .tipo p:nth-child(1) {
        width: 60px;
        height: 60px;
        line-height: 50px;
    }
    .categorias .tipo p i {
        font-size: 28px;
    }
    .categorias .tipo p:nth-child(2) {
        font-size: 10px;
    }
    .area-clinica .clinica .txt-realizado {
        font-size: 22px;
    }
}

@media only screen and (max-width : 320px) {

}
