<section id="printableArea">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://www.kenobi.com.br/clientes/mario/">Bolsas Autoescolas</a>
        </div>
    </nav>
    <div class="txt-apresentacao">
        <div class="container">
            <h1><strong>Obrigado</strong> por chegar até aqui!<br>
                Em breve uma AutoEscola parceira entrará em
                contato diretamente com você!</h1>
        </div>
    </div>
    <div class="container area-clinica">
        <div class="titulo subtitulo">
            <h2>Veja o <span>resumo</span> da sua solicitação:</h2>
        </div>
        <div class="area-resumo">
            <div class="resumo">
                <div class="row">
                    <div class="col-md-10">
                        <p class="nome-usuario"><strong>Nome: </strong><span><%= @user[0]["name"] %> <%= @user[0]["last_name"]  %></span></p>
                        <p class="email-usuario"><strong>E-mail: </strong><span><%= @user[0]["email"] %></span></p>
                        <p class="telefone-usuario"><strong>Telefone: </strong><span><%= @user[0]["phone"]  %></span></p>
                    </div>
                </div>
            </div>
            <div class="resumo">
                <div class="linha categoria">
                    <span>1ª Habilitação</span> - <span class="categoria">Categoria <%= @license[0]["name"] %></span>
                </div>
                <div class="linha convenio">
                    <span>Bolsas Autoescolas</span>
                </div>
                <div class="linha local">
                    <i class="fas fa-map-marker-alt"></i>
                    <span><%= @city[0]["name"]  %> - <%= @state[0]["name"] %></span>
                </div>
                <div class="linha incluso">
                    <h4>O que está incluso na oferta</h4>
                    <ul>
                        <li><i class="fas fa-check"></i> <span>Aulas Práticas</span></li>
                        <li><i class="fas fa-check"></i> <span>Aulas Teóricas</span></li>
                    </ul>
                </div>
                <div class="linha desconto">
                    <span>20%</span> <span>de desconto</span>
                </div>
                <div class="linha de">
                    <span>De R$</span> <span><%= @driving_school[0]["price"] %></span>
                </div>
                <div class="linha por">
                    <span>Por R$</span> <span><%= @driving_school[0]["discount"] %></span>
                </div>
                <div class="linha parcelas">
                    <span>Em até</span> <span>4x</span> <span>sem juros</span>
                </div>
            </div>
            <div class="resumo">
                <div class="row">
                    <div class="col-md-10">
                        <div class="linha">
                            <p class="nome-clinica"><span><%= @clinical[0]["name"]  %></span></p>
                        </div>
                        <div class="linha">
                            <span class="endereco"><i class="fas fa-map-marker-alt"></i> <%= @clinical[0]["address"]  %></span>

                        </div>
                        <div class="linha">
                            <span class="horario"><%= @clinical[0]["open"]  %></span>
                        </div>
                        <div class="linha">
                            <span class="dias"><%= @clinical[0]["close"]  %></span>
                        </div>
                        <div class="linha">
                            <span class="telefone">Telefone: <%= @clinical[0]["phone"]  %></span>
                        </div>
                       <div class="tags lc">
                         <% @clinical[0].tag_list.to_a.each do |t| %>
                            <span><%= t %></span>
                          <% end %>
                        </div>
                        <div class="linha">
                            <p class="obs">OBS: Encaminhar-se a clínica dentro dos horários de funcionamento indicados.</p>
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" class="btn" onclick="printDiv('printableArea')" value="Imprimir resumo" />
            <button type="button" class="btn btn-blog">Conhecer o Blog</button>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo-rdp">
                  <%= image_tag("logo2") %>
                    <!-- <img src="../resource/img/logo2.png" alt="Bolsas Autoescolas"> -->
                </div>
                <ul class="social">
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Sobre Nós</h3>
                <ul>
                    <li><a href="">Bolsas AutoEscolas</a></li>
                    <li><a href="">Como funciona</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="">Termo de uso</a></li>
                    <li><a href="">Política de privacidade</a></li>
                </ul>
            </div>
            <div class="col-md-3 lh">
                <h3>Acesso AutoEscolas</h3>
                <ul>
                    <li><a href="" class="btn-rdp">Acessar plataforma</a></li>
                    <li><a href="">Seja uma autoescola parceira</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
